[submodule "mirrors/swift_seller"]
	path = mirrors/swift_seller
	url = https://github.com/silvanusbordignon/swift_seller
[submodule "mirrors/midgard"]
	path = mirrors/midgard
	url = https://github.com/circled-square/midgard.git
[submodule "mirrors/olympus"]
	path = mirrors/olympus
	url = https://github.com/Kalsifer-742/olympus.git
[submodule "mirrors/ragnarok"]
	path = mirrors/ragnarok
	url = https://github.com/circled-square/ragnarok.git
[submodule "mirrors/ai"]
	path = mirrors/ai
	url = https://github.com/arvt/ai.git
[submodule "mirrors/bmo"]
	path = mirrors/bmo
	url = https://github.com/silvanusbordignon/bmo.git
